/*-- scss:mixins --*/

// ========== TYPOGRAPHY VARIABLES ==========


// Heading colors
$h1-color: $white;

h4.phase {
  text-align: center;
  color: $darkest-grey;
  font-weight: $font-weight-bold;
}
